[workspace]
resolver = "2"
members = [
    "crates/araliya-bot",
]
default-members = ["crates/araliya-bot"]

[profile.release]
opt-level = "z"
lto = "thin"
codegen-units = 1
panic = "abort"
strip = "symbols"
