# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyi
*.pyz

# Virtual environments
.venv/
venv/

# Packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environments
.env
.env.*
!.env.example

# Pytest
.cache/
.coverage
.coverage.*
pytest_cache/

# IDE
.vscode/
.idea/
